<p-accordion [activeIndex]="currentStep">
  <p-accordionTab header="Enter Basic Map Details">
    <app-basic-map-detail (onChange)="onSubmitBasicDetail($event)"></app-basic-map-detail>
  </p-accordionTab>
  <p-accordionTab header="Select Source And Destination">
    Your content here
  </p-accordionTab>
  <p-accordionTab header="Add Flow Bands">
    Your content here
  </p-accordionTab>
  <p-accordionTab header="Define Volume & Template">
    Your content here
  </p-accordionTab>
</p-accordion>
