/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import 'mapbox-gl/dist/mapbox-gl.css';

.mb--5 {
  margin-bottom: 5px;
}

.mb--10 {
  margin-bottom: 10px;
}

.mb--15 {
  margin-bottom: 15px;
}

.mb--20 {
  margin-bottom: 20px;
}

.panel {
  border-radius: 3px;
  border: 1px solid gainsboro;
}

.btn-main {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
